/*fixed*/
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to remove default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 252, 242, 0.911);
}

h1, h2, h3 {
    font-family: 'Protest Strike', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}

/* Header */
header {
    background-color: rgba(255, 252, 242, 0.911);
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-size: 2rem;
}

#menu {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu > li {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.active {
    border-bottom: 1px solid #464243;
}

/* Navbar styles and dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(255, 252, 242, 0.911);
    width: 40%;
    padding: 0 1rem;
    left: 60%;
    display: none;
    top: 100%;
    border-radius: 0 0 20px 20px;
    border: 1px solid black;
    border-top-style: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    height: auto;
    width: 100%;
    background: url("../images/Yellow_pizza.jpg");
    position: relative;
    flex: 1 0 auto;
    margin-top: 39px;
    justify-content: center;
    align-items: center;
    display: flex;   
}

/* Center headings */
h2, h3, .center-text {
    text-align: center;
}

/* Set margins for sections */
section {
    margin: 10px 5%;
}

#contact-form {
    max-width: 300px;
    left: 10%;
}

#contact-form > p {
    text-align: center;
}

.border {
    background-color: rgba(255, 252, 242, 0.911);
    border-radius: 15px;
    padding: 10px;
    height: auto;
    width: 100%;
  }

/* Pizza picture */
#pizza-pic {
    background: url("../images/classic-cheese-pizza.webp") no-repeat center center/cover;
    height: 50vw;
    width: 90vw;
    max-height: 300px;
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
/*#services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
*/

/* Footer */
#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

button {
    background-color: rgba(255, 252, 242, 0.95);
    border-radius: 7px;
    padding: 2px;
    font-weight: 600;
}

#social-networks i {
    font-size: 150%;
    color: #464243;
}

/* Media query: tablets and larger - 768px and up */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        left: 0;
        border: none;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 2.5rem;
        line-height: 80px;
        margin: 0 0.5rem;
    }

    main {
        /* Move main content down from header */
        margin-top: 85px;
        display: flex;
    }

    section .service {
        display: flex;
        width: 45%;
        margin: 10px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #services {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #thanks {
        width: 50%;
    }
}

/* Media query: laptops and larger - 992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }    

}
