/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to remove default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Protest Strike', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}

/* Header */
header {
    background-color: rgba(255, 252, 242, 0.911);
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #464243;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-size: 1.6rem;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #464243;
}

/* Navbar styles and dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(255, 252, 242, 0.911);
    width: 40%;
    padding: 0 1rem;
    left: 60%;
    text-align: left;
    display: none;
    top: 100%;
    border-radius: 0 0 20px 20px;
    border: 1px solid black;
    border-top-style: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    height: auto;
    width: 100%;
    background: url("../images/Yellow_pizza.jpg");
    position: relative;
    flex: 1 0 auto;
    margin-top: 39px;
}

/* Center headings */
h2, h3 {
    text-align: center;
}

.margin5 {
    margin: 5%;
}

#service div, #feedback div, #menu div {
    background-color: rgba(255, 252, 242, 0.911);
}

#service>div>h2, #service>div>h3 {
    max-width: auto;
    border-radius: 10px 10px 10px 10px;
}

.border {
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    height: auto;
  }
  
/* Pizza */
#pizza {
    background: url("../images/classic-cheese-pizza.webp") no-repeat center center/cover;
    height: 50vw;
    width: 90vw;
    max-height: 300px;
    max-width: 450px;    
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    color: #464243;
}

/* Media query: tablets and larger - 768px and up */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        left: 0;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        /* Move main content down to avoid being obscured by header */
        margin-top: 75px;
    }
}

/* Media query: laptops and larger - 992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }    

}
